In [1]:
import pandas as pd

In [2]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\raymo\anaconda3\envs\datasci\lib\site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in c:\users\raymo\anaconda3\envs\datasci\lib\site-packages (from pyarrow) (1.23.5)

In [3]:
data=pd.read_parquet('app_data_sample.parquet', engine='auto')

In [6]:
data.head(20)

,application_number,filing_date,examiner_name_last,examiner_name_first,examiner_name_middle,examiner_id,examiner_art_unit,uspc_class,uspc_subclass,patent_number,patent_issue_date,abandon_date,disposal_type,appl_status_code,appl_status_date,tc
0,08284457,2000-01-26,HOWARD,JACQUELINE,V,96082.0,1764.0,508,273000,6521570,2003-02-18,None,ISS,150.0,30jan2003 00:00:00,1700.0
1,08413193,2000-10-11,YILDIRIM,BEKIR,L,87678.0,1764.0,208,179000,6440298,2002-08-27,None,ISS,250.0,27sep2010 00:00:00,1700.0
2,08531853,2000-05-17,HAMILTON,CYNTHIA,None,63213.0,1752.0,430,271100,5607816,1997-03-04,None,ISS,250.0,30mar2009 00:00:00,1700.0
3,08637752,2001-07-20,MOSHER,MARY,None,73788.0,1648.0,530,388300,6927281,2005-08-09,None,ISS,250.0,07sep2009 00:00:00,1600.0
4,08682726,2000-04-10,BARR,MICHAEL,E,77294.0,1762.0,427,430100,None,None,2000-12-27,ABN,161.0,19apr2001 00:00:00,1700.0
5,08687412,2000-04-28,GRAY,LINDA,LAMEY,68606.0,1734.0,156,204000,6267836,2001-07-31,None,ISS,150.0,16jul2001 00:00:00,1700.0
6,08716371,2004-01-26,MCMILLIAN,KARA,RENITA,89557.0,1627.0,424,401000,None,None,None,PEND,135.0,15may2017 00:00:00,1600.0
7,08765941,2000-06-23,FORD,VANESSA,L,97543.0,1645.0,424,001210,None,None,2001-08-22,ABN,161.0,03apr2002 00:00:00,1600.0
8,08776818,2000-02-04,STRZELECKA,TERESA,E,98714.0,1637.0,435,006000,None,None,2002-07-15,ABN,161.0,27nov2002 00:00:00,1600.0
9,08809677,2002-02-20,KIM,SUN,U,65530.0,1723.0,210,645000,6858146,2005-02-22,None,ISS,250.0,23mar2009 00:00:00,1700.0
10,08836939,2000-06-13,WOOD,ELIZABETH,D,77112.0,1755.0,106,479000,6358307,2002-03-19,None,ISS,250.0,19apr2006 00:00:00,1700.0
11,08901519,2000-09-26,DENT,ALANA,HARRIS,92931.0,1642.0,435,007230,6261766,2001-07-17,None,ISS,250.0,17aug2009 00:00:00,1600.0
12,08913518,2004-04-06,AFTERGUT,JEFFRY,H,75406.0,1733.0,156,148000,7005024,2006-02-28,None,ISS,250.0,28mar2014 00:00:00,1700.0
13,08930379,2002-04-08,KUMAR,SHAILENDRA,None,95054.0,1672.0,514,617000,6670400,2003-12-30,None,ISS,250.0,30jan2012 00:00:00,1600.0
14,08945309,2000-06-15,STARSIAK,JOHN,S,99360.0,1753.0,204,604000,None,None,2003-11-26,ABN,168.0,08dec2003 00:00:00,1700.0
15,08952426,2000-08-21,TRAN,SUSAN,T,73198.0,1615.0,424,451000,6428808,2002-08-06,None,ISS,250.0,06sep2010 00:00:00,1600.0
16,08973360,2000-02-09,LI,QIAN,JANICE,76132.0,1632.0,514,044000,None,None,2002-11-14,ABN,161.0,19may2003 00:00:00,1600.0
17,08974843,2000-01-11,PEESO,THOMAS,R,77284.0,2132.0,713,168000,None,None,2003-01-13,ABN,168.0,23jan2003 00:00:00,2100.0
18,08981219,2000-07-27,DAVIS,ROBERT,B,63176.0,1722.0,425,133100,None,None,2003-06-10,ABN,161.0,25sep2003 00:00:00,1700.0
19,08994479,2001-01-30,BOYER,CHARLES,I,59816.0,1751.0,510,511000,7256169,2007-08-14,None,ISS,250.0,11sep2015 00:00:00,1700.0

In [7]:
data.to_csv('Data_CSV.csv')